@use '../../variables' as *;


:host {
  display: block;
  padding: 20px 15px;
}

// modes
.modes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.mode-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 360px;
  background-color: $color-bg-card;
  border-radius: 16px;
  padding: 24px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-3px);
  }

  // box1: private party
  &:nth-child(1) {
    border: 2px solid $color-green-main;
    box-shadow: 0 0 15px rgba(30, 215, 96, 0.25), inset 0 0 10px rgba(30, 215, 96, 0.1);

    .mode-image {
      object-fit: contain;
      width: 45%;
      right: -10px;
    }
  }

  // box2: event
  &:nth-child(2) {
    border: 2px solid $color-purple-main;
    box-shadow: 0 0 15px rgba(183, 33, 255, 0.25), inset 0 0 10px rgba(183, 33, 255, 0.1);

    .mode-image {
      object-fit: cover;
      width: 55%;
      right: 0;
      border-radius: 0 16px 16px 0;

      -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%);
      mask-image: linear-gradient(to right, transparent 0%, black 40%);
    }
  }

  // text container
  .text-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 55%;
    background: transparent !important;
  }

  .mode-box {
    font-size: 1.4rem;
    font-weight: 800;
    color: $color-text-main;
    text-decoration: none;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    background: transparent !important;

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      border-radius: 16px;
    }
  }

  p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 600;
    color: $color-text-muted;
    letter-spacing: 0.5px;
    background: transparent !important;
  }

  // images styling
  .mode-image {
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: 1;
    opacity: 0.85;
    pointer-events: none;
    mix-blend-mode: lighten;
  }
}