// Farben
$color-bg-main: #0b0c10;
$color-bg-card: #12141d;
$color-text-main: #ffffff;
$color-text-muted: #a0a5b5;
$color-text-placeholder: #5c6275;
$color-border: #2a2d3e;

// Akzent-Farben
$color-green-main: #1ed760;
$color-green-hover: #1db954;
$color-purple-main: #b721ff;

// Schriften
$font-main: 'Montserrat', sans-serif;